.App {
    text-align: center;
    background-color: gray;
    height: 100vh;
}

.footer {
    /*position: absolute;*/
    color: white;
    text-align: center;
    background-color: gray;
        /*left: 25%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: solid 2px black;*/
    /*border-radius: 50px;*/
    /*width: 50%;*/
}


.error {
    border-color: red;
    background-color: deeppink;
}


.title {
    border: none;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    alignment: center;
    color: white;
    text-align: center;
    padding: 5px 0;
    cursor: default;
}

.display {
    color: deepskyblue;
    font-size: 40px;
    width: 300px;
    height: 70px;
    margin: auto;
    padding: 5px 0;
    /*border: 1px dotted deepskyblue;*/
    cursor: default;
}

.max {
    font-size: 40px;
    color: yellow;
}

.button {
    border: 1px solid white;
    border-radius: 12px;
    width: 95px;
    padding: 5px 10px;
    color: white;
    /*margin: 5px;*/
    background-color: gray;
    font-size: 15px;
    text-align: center;

    /*не работают:*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button:hover {
    background-color: green;
    color: white;
    cursor: pointer
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border: 1px solid white;
    border-radius: 12px;
    width: 95px;
    padding: 5px 10px;
    color: white;
    background-color: gray;
    font-size: 15px;
    text-align: center;
}

.disabled:hover {
    background-color: red;
    color: white;

}

.countNumber {
    background-color: chartreuse;
    font-size: 75px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.settings {

    display: grid;
    grid-template-rows: 1fr 1.3fr 25px;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    height: 100px;
    margin: auto;
    padding: 5px 0;

}

.settings input {
    border: 1px solid white;
    border-radius: 12px;
    width: 120px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;

}

.settings div {
    color: deepskyblue;
    font-size: 20px;
    padding: 15px 5px;
}
